.carousel-item img {
  height: 600px;
  opacity: 0.9;
}
/* #Roadmap, #Youtube ,#CheatSheet{
    width: 70%;
} */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}
#aboutform {
  width: 50%;
}
#Accordian {
  width: 60%;
}
#Projects {
  border: 2px solid #0d6efd;
  display: block;
  width: 10%;
  border-radius: 7px;
}
#sql {
  border: 2px solid #cbd8eb;
  display: block;
  width: 20%;
  border-radius: 7px;
  margin-left: 110px;
}
@media only screen and (max-width: 600px) {
  .carousel-item img {
    height: 156px;
  }
  .mx-5 {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  #Accordian {
    width: 100%;
  }
  #aboutform {
    width: 100%;
  }
  #Projects {
    width: 30%;
  }
  #sql {
    margin-left: 56px;
    width: 60%;
  }
  .mx-3{
    margin-bottom: -2rem !important;
  }
  #textsql{
    width: 100%;
    padding: 5px;
  }
}
